HELP.md
!**/src/main/**/target/
!**/src/test/**/target/

## Maven:
!.mvn/wrapper/maven-wrapper.jar
/.mvn/
/mvnw
/mvnw.bat
mvnw.cmd
/log/
*.log*
target/
pom.xml.tag
pom.xml.releaseBackup
pom.xml.next
release.properties

### IntelliJ IDEA ###
.idea
*.iws
*.iml
*.ipr

## Mac:
.DS_Store

mvnw.cmd
mvnw

### Eclipse ###
.classpath
.project
.settings/
