# Required connection configs for Kafka producer, consumer, and admin
bootstrap.servers=pkc-xmzwx.europe-central2.gcp.confluent.cloud:9092
security.protocol=SASL_SSL
sasl.jaas.config=org.apache.kafka.common.security.plain.PlainLoginModule   required username='MQQ3N5OQ5XBQYYQ2'   password='xPJsMR/5DkItYBqdzVWY0EvaCfoDGhUVgvfuGkD0wofo+YVTNYVmpDf8OMdXX23o';
sasl.mechanism=PLAIN
# Required for correctness in Apache Kafka clients prior to 2.6
client.dns.lookup=use_all_dns_ips

# Best practice for higher availability in Apache Kafka clients prior to 3.0
session.timeout.ms=45000

# Best practice for Kafka producer to prevent data loss
acks=all

# Required connection configs for Confluent Cloud Schema Registry
schema.registry.url=https://pkc-xmzwx.europe-central2.gcp.confluent.cloud:9092
basic.auth.credentials.source=USER_INFO
basic.auth.user.info=MQQ3N5OQ5XBQYYQ2:xPJsMR/5DkItYBqdzVWY0EvaCfoDGhUVgvfuGkD0wofo+YVTNYVmpDf8OMdXX23o

spring.kafka.consumer.key-deserializer=org.apache.kafka.common.serialization.IntegerDeserializer
spring.kafka.consumer.value-deserializer=org.apache.kafka.common.serialization.StringDeserializer
